body {
    background-color: rgb(179, 113, 242);
}

.purple {
    color: rgb(179, 113, 242);
}

#input-age,
#inputName,
#input-km {
    border: rgb(179, 113, 242) 3px solid;
}

#start,
#reload {
    background-color: rgb(230, 181, 255);
}

.details {
    height: 200px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.box {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}